body{
    font-family: Arial, Helvetica, sans-serif;
}
img {
    max-width: 100%;
}
.container-fluid{
    max-width: 1920px;
    margin: 0 auto;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #777 !important;
opacity: 0.5;
}

input::-webkit-input-placeholder {
            opacity: 0.9;
        }
.btn-primary{
   text-transform:uppercase;
   background-color: #77ac42;
    padding: 10px 20px;
    color:#fff;
   border-radius:0;
	background-image: initial;
    border-color: #77ac42;

}

.btn-primary:hover{
 background-color: #77ac42;
 border-color: #77ac42;
}

.btn-primary:visited{
 background-color: #77ac42 !important;
 border-color: #77ac42;
}

.btn-primary:active{
 background-color: #77ac42;
 border-color: #77ac42;
}

.btn-default{
 text-transform:uppercase;
   background-color: #282828;
    padding: 10px 20px;
    color:#fff;
   border-radius:0;
	background-image: initial;
	border: 1px solid #77ac42;
   /* border-color: #282828;*/
}

.btn-default:hover{
 background-color: #282828;
 border-color:#77ac42; 
color:#fff;
}

.btn-default:visited{
 background-color: #282828!important;
 /*border-color: #282828;*/
}

.btn-default:active{
 background-color: #282828;
 /*border-color: #282828;*/
}




.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.row.is-flex [class*='col-']:nth-child(2n+1){
    margin-left: -1px;
}

.image-block{
 padding:0;
}
.is-flex .box {
  background: none;
  position: static;
}


.green-text{
    color:#77ac42;
}
.white-text{
    color:#fff;
}

.title{
    text-transform: uppercase;
}
ul {
    padding-left: 0;
}
.site-button{
    background-color: #77ac42;
    display: inline-block;
    padding: 10px 20px;
    color:#fff;
    text-transform: uppercase;
}
.site-button.form-control{
   padding: 0;
}
.dark{
    background-color: #282828;
    color:#fff;
}
.light-green{
    background-color: #77ac42;
}
.dark-green{
    background-color: #0b592f;
    color:#fff;
}
.navbar{
    border-radius: 0;
    margin-bottom: 0;
    background-color: #282828;
    
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.site-logo{
    height: 100px;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1000;
}
.navbar .site-logo{
    height:250px;
}
.navbar-brand{
    padding-left: 100px;
    color:#fff !important;
}

.slider-text{
    padding: 25px 50px;
    background-color: rgba(40, 40, 40, 0.7);
}
.slider-text h3{
    color:#fff;
}
.dropdown-submenu{
    display: block;
    text-align: center;
    color: #fff;
    padding:10px 15px;
}
.dropdown-submenu.active{
    background-color: #000;
}
.dropdown-submenu:hover{
    cursor: pointer;
}
.tablet-menu-button li{
    margin-right: 15px;
}

.menu-buttons li a:hover{
    text-decoration:none;
}
.text-block{
    padding:40px 50px;
}
.text-block .content{
    margin: 40px 0;
}
#top-banner .row{
    position: relative;
}
#top-banner .row .image-block{
    height: 439px;
}

#top-banner  .image-block{
    position: relative;
    overflow: hidden;
}
#top-banner  .image-block img{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-width:none;
}
.banner-text{
    position: absolute;
    top:100px;
    right:0;

}
.banner-text .text-block{
    max-width: 420px;
    margin-top: 15px;
}
.social-media-icon{
    clear: both;
    overflow: hidden;
}
.social-media-icon img{
    width: 60px;
    float: right;
}
.view-result-link{
    color:#77ac42;
    text-decoration: underline;


}

#testimonial-carousel{
    padding:40px 100px;
    color:#fff;
    /*font-size:21px;*/
    font-weight: normal;
}
#testimonial-carousel .carousel-inner .item{
    margin-bottom: 15px;
}
.vertical-center{
    
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
.subscribe-from{
    padding: 40px;
}
.subscribe-from h5{
    font-weight: bold;
}
.subscribe-text{
    color:#fff;
}
.latest-news{
    margin-top: 9px;
    /*font-size: 19px;*/
}
select.result-dropdown {     
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #0b592f;
    border-color: -moz-use-text-color -moz-use-text-color #fff;
    background-image: url('/Super6Soccer/media/SiteImages/arrow.png');
     background-repeat: no-repeat;
     background-position:right 10px top 9px;
    border-style: none none solid;
    border-width: medium medium 2px;
    color:#FFF;
    background-size:16px;
    border-radius:0;

}
.result-dropdown option{
    background-color: transparent;
    padding: 7px 4px;
}

.sponsers-block{
    background-color: #eaeaea;
}
.sponsers-block img{
    display: block;
    margin: 15px auto;
}
.footer{
    padding-top:60px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer .site-logo{
    top:-35px;
}
.footer .site-text{
    margin-left: 0;
}
.footer .navbar-brand{
    padding-top: 0;
}
.footer-link{
    list-style: none;
}

.footer-link .dropdown-menu{
    position: initial;
    background-color: transparent;
    color: #fff;
    margin: 0 auto;
    float: none;
    border: none;
    box-shadow: initial;

}
.footer-link .dropdown-menu a{
    color: #fff;
}

.footer-link a{
    color:#fff;
    padding-bottom: 7px;
    display: block;
}
.copy-right{
    font-size: 11px;
    text-align: center;
}
.copy-right a{
    color: #fff;
    text-decoration: underline;
}

@media(max-width:480px){
    .navbar-brand {
    padding-left: 75px;
    color: #fff !important;
}
.site-logo {
    height: 80px;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1000;
}
.slider-text{
    padding: 15px 10px;
}
.slider-text h3{
    font-size:14px;
}
}

@media(max-width:767px){
    .text-block{
    padding:15px;
    }
    .site-text{
        margin-left: 20px;
    width: 100px;
    margin-top: 10px;
    }
    .navbar .site-logo{
        height: 100px;
    }
    #testimonial-carousel{
        padding: 20px;
    }
    
    .subscribe-from{
        padding: 40px 0;
    }
   #testimonial-carousel .carousel.slide{
     padding: 40px 15px !important;
    } 
    .footer{
        padding: 40px 0;
    }
    .footer .menu-buttons li{
        text-align: center;
        margin: 20px 0;
    }
    .footer-link a{
        text-align: center;
    }
    
    .menu-buttons{
        margin-top: 70px;
        margin-bottom: -30px;
    }

    

}
@media(min-width:768px){

.navbar .site-logo{
        height: 150px;
    }
    .same-height-sm{
        display: flex;
    }
    .footer .menu-buttons li{
        float: left;
        margin-right: 20px;
        margin-bottom: 5px;
    }
    .site-text{
        margin-left: 50px;
    }

}

@media(min-width:768px) and (max-width:991px){
        .image-block{
        position: relative;
        overflow: hidden;
    }
    .image-block img{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-width: initial;
    }
    .sponsers-block h3{
        font-size: 16px;
    }
}
@media(max-width:992px){
    #soccer-menu .menu-buttons li{
    margin: 30px 10%;
    text-align: center;
}
.site-links{
    margin-top: 30px;
}
    .footer{
        padding: 60px 40px;
    }

   /*.navbar .site-logo{
        height: 150px;
    }*/
}
@media(min-width:992px){
    .same-height-md{
        display: flex;
    }

 .menu-buttons li{
        float: left;
         margin-right: 30px;
    }
 .tablet-menu-button{
     margin-top: 7px;
       
 }
 

}
@media(min-width:992px) and (max-width:1200px){
    .site-text{
        width: 230px;
    margin-left: 80px;
    margin-top: 8px;
    }
   .navbar .site-logo{
        height: 150px;
    }
    
    .footer .menu-buttons li{
        margin-right: 0px;
    }
}
@media(min-width:1200px){
     .image-block img{
     height: 100%;
 }  
   
    .pull-right-lg{
        float: right;
    }
    .site-text{
        margin-left: 175px;
    }
}

/*  change menu breakpoint  */
@media(max-width:1200px){

    .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 48px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-nav>li a{
      text-align: center;
  }
  .collapse.in{
      display:block !important;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #9d9d9d;
    padding: 5px 15px 5px 25px;
    line-height: 20px;
}
}

@media (min-width: 1200px) and (max-width:1340px){
.menu-buttons li {
    margin-right: 8px;
}
.site-text{
    display: none !important;
}
}

@media (min-width: 1341px){
    .site-text {
    margin-left: 135px;
    margin-top: 7px;
    width: 185px;
}
